:root{
    --bgcolor2:#212631;
    --bordercolor2:#323a49;
    --color2:white;
}
.bg-color1 {
    background-color: var(--bgcolor2) !important;
    /* color: #FFF8F2 !important; */
    color: var(--color2) !important;
}

.title {
    width: 100%;
    position: sticky;
    font-size: 22px;
    z-index: 100;
    padding: 10px;
    padding-left: 20px;
    border-top: 1px solid var(--bordercolor2);
    border-bottom: 1px solid var(--bordercolor2);
}

.border-gray {
    border: 0.5px solid var(--bordercolor2);
}

.cursor-pointer {
    cursor: pointer;
}

.onhover {
    border-radius: 5px !important;
    font-size: 17px !important;
    margin: 5px !important;
    /* color: #8e8989 !important; */
    color: var(--color2) !important;
    cursor: pointer;
}

.onhover:hover {
    background-color: #2A303D !important;
    margin: 5px;
    /* color: var(--color) !important; */
}

.active {
    background-color: #2A303D !important;
}

.left-color-gray {
    font-size: 12px;
    margin: 10px 0px;
    text-align: center;
    /* color: #8e8989; */
    color: var(--color2);
}

.accordion-button {
    background-color: var(--bgcolor2) !important;
    color: var(--color2) !important;
    /* color: white; */
}

.accordion-button:focus {
    box-shadow: none !important;
}

.accordion-item {
    color: var(--color)
}

.accordion-button:not(.collapse) {
    color: var(--color);
    background-color: var(--bgcolor);
    box-shadow: none;
}

.accordion-button:not(.collapse)::after{
    color: beige;
}

.height-acc {
    position: sticky;
    height: 100vh;
    overflow-y: scroll;
}

.height-acc::-webkit-scrollbar {
    width: 8px;
}

.height-acc::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: inherit;
}

.accordion-button::after{
    color: var(--color);
}

.height-acc::-webkit-scrollbar-thumb {
    width: 5px;
    background-color: black;
    border-radius: 10px;
}

.font-size-left {
    font-size: 14px !important;
}

.width-circle {
    font-size: 10px;
}

.order-left {
    width: 90%;
    padding: 10px;
}