.bg-color {
    background-color: #f0f0ee;
    padding: 10px;
}

.active {
    border-bottom: 0.5px solid black;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.accordion {
    background-color: white;
    /* position: relative; */
}

.accordion-button:focus {
    box-shadow: none;
}

.accordion-button:not(.collaspe) {
    box-shadow: none;
}

.accordion-button {
    background-color: white !important;
    color: black !important;
    padding: 16px 0px;
}

.accordion-body {
    background-color: white !important;
    color: black !important;
}

.accordion-button::after {
    content: '+' !important;
}

.accordion-button:not(.collaspe)::after {
    width: 0px;
    content: "-";
    transform: none !important;
}

.color-blue {
    background-color: #282D3C;
}

.color-beige {
    background-color: #E0D6C6;
}

.color-brown {
    background-color: #382E2D;
}

.color-purple {
    background-color: #A9568C;
}

.color-yellow {
    background-color: #F2E6B1;
}

/* .z-index-1 {
    z-index: -10;
} */

.scroll {
    height: 500px;
    overflow-y: auto;
    /* position: static; */
}

.fs-14 {
    font-size: 14px;
}

.clothing-button {
    position: absolute;
    width: 90%;
    text-align: center;
    bottom: 16px;
    left: 10px;
    padding: 10px;
    background-color: white;
    color: black;
    z-index: 100;
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;

}

.cards:hover .clothing-button {
    visibility: visible !important;
    opacity: 1 !important;
}

.w-45{
    width: 45%;
}

.fs-18{
    font-size: 18px;
}
.img{
    visibility: visible;
    opacity: 1;
    position: absolute;
    /* z-index: -10; */
}
.image_hover{
    visibility: hidden;
    opacity: 0;
    /* position: absolute; */
    /* z-index: -10; */
}
.cards:hover .img{
    visibility: hidden !important;
    opacity: 0 !important;
}
.cards:hover .image_hover{
    visibility: visible !important;
    opacity: 1 !important;
}

.color-color{
    color: #666697;
    font-weight: bold;
    font-size: 14px;
    position: absolute;
    visibility: visible;
    opacity: 1;
}

.bg-color-color{
    padding: 3px 6px;
    border: 1px solid black;
    border-radius: 50%;
    margin-right: 3px;
    visibility: hidden;
    opacity: 0;
}

.cards:hover .color-color{
    visibility: hidden !important;
    opacity: 0 !important;
}

.cards:hover .bg-color-color{
    visibility: visible !important;
    opacity: 1 !important;
}

.clothing-button .add-size{
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    visibility: hidden;
    position: absolute;
    opacity: 0;
    top: 2px;
    width: 100%;
    left: -1px;
}

.clothing-button:hover .add-size{
    visibility: visible !important;
    opacity: 1 !important;
}

.clothing-button:hover{
    visibility: hidden;
    opacity: 0;
}

.discount{
    background-color: white;
    color: red;
    padding: 5px;
    position: absolute;
    top: 5px;
    left:5px;
    width: 50px;
}